*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-red: #ee220c;
  --clr-green: #1db100;
  --clr-blue: #00a2ff;
  --clr-light-grey: #edefef;
  --clr-text-secondary: #929292;
  --clr-text-primary: #333333;
  --clr-brown: rgb(102, 60, 0);
  --clr-light-orange: rgb(255, 244, 229);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-text-primary);
  background-color: var(--clr-light-grey);
}

a {
  color: var(--clr-blue);
  text-decoration: none;
}
a:hover {
  color: var(--clr-green);
}

.container {
  margin: 5rem 2% 0 2%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.MuiSelect-filled.MuiSelect-filled {
  min-width: 12rem;
}

/* Cards */
.cards {
  margin-bottom: 2rem;
}
.confirmed {
  border-bottom: 1rem solid var(--clr-blue);
}
.recovered {
  border-bottom: 1rem solid var(--clr-green);
}
.deaths {
  border-bottom: 1rem solid var(--clr-red);
}
.card-title {
  font-size: 1.8rem !important;
}
.card-main {
  font-size: 2.4rem !important;
}
.confirmed .card-main {
  color: var(--clr-blue);
}
.recovered .card-main {
  color: var(--clr-green);
}
.deaths .card-main {
  color: var(--clr-red);
}

/* Map */
.map .leaflet-container {
  width: 100%;
  height: 52rem;
}

/* Chart */
.chart {
  height: 32rem;
  margin-bottom: 2rem;
}

/* List */
.list {
  max-height: 60rem;
  height: 40rem;
  overflow: auto;
}
.MuiListItemText-multiline {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.MuiListItemText-multiline .MuiListItemText-primary {
  margin-right: 1rem;
  color: var(--clr-blue);
  font-size: 2rem;
}
.list-item:hover,
.list-item.active {
  background-color: var(--clr-light-grey);
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utils */
.mb-20 {
  margin-bottom: 2rem !important;
}
.alert {
  padding: 0.6rem 1.6rem;
  border-radius: 0.4rem;
}
.alert.warning {
  color: var(--clr-brown);
  background-color: var(--clr-light-orange);
}

.popup-info {
  overflow: hidden;
}
.popup-info img {
  width: 100%;
}
.popup-info .confirmed,
.popup-info .recovered,
.popup-info .deaths {
  border-bottom: 0;
}
.popup-info .confirmed strong {
  color: var(--clr-blue);
}
.popup-info .recovered strong {
  color: var(--clr-green);
}
.popup-info .deaths strong {
  color: var(--clr-red);
}

@media (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .map {
    margin-bottom: 2rem;
  }

  .chart {
    height: auto;
  }
}

@media (max-width: 600px) {
  .MuiGrid-container {
    flex-direction: column !important;
  }
}
