*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-red: #ee220c;
  --clr-green: #1db100;
  --clr-blue: #00a2ff;
  --clr-light-grey: #edefef;
  --clr-text-secondary: #929292;
  --clr-text-primary: #333333;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-text-primary);
  background-color: var(--clr-light-grey);
}

.container {
  margin: 5rem 2%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* Cards */
.cards {
  margin-bottom: 2rem;
}
.confirmed {
  border-bottom: 1rem solid var(--clr-blue);
}
.recovered {
  border-bottom: 1rem solid var(--clr-green);
}
.deaths {
  border-bottom: 1rem solid var(--clr-red);
}
.card-title {
  font-size: 1.8rem !important;
}
.card-main {
  font-size: 2.4rem !important;
}
.confirmed .card-main {
  color: var(--clr-blue);
}
.recovered .card-main {
  color: var(--clr-green);
}
.deaths .card-main {
  color: var(--clr-red);
}

/* Map */
.map {
  width: 100% !important;
}

/* Chart */
.chart {
  margin-bottom: 2rem;
}

/* List */
.list {
  max-height: 60rem;
  overflow: auto;
}
.MuiListItemText-multiline {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.MuiListItemText-multiline .MuiListItemText-primary {
  margin-right: 1rem;
  color: var(--clr-blue);
  font-size: 2rem;
}

/* Footer */
.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
